kp/admin/sapERPWorkingBKP/erptoweb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://gjepc.org/admin/sapERP/server.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Erptoweb" targetNamespace="https://gjepc.org/admin/sapERP/server.php">
  <wsdl:types>
    <xsd:schema targetNamespace="https://gjepc.org/admin/sapERP/server.php">
      <xsd:element name="Average">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="pan_no" type="xsd:string"></xsd:element>
            <xsd:element name="bp_no" type="xsd:string"></xsd:element>
			<xsd:element name="rcmc_certificate_issue_date" type="xsd:date"></xsd:element>
			<xsd:element name="rcmc_certificate_expire_date" type="xsd:date"></xsd:element>
			<xsd:element name="merchant_certificate_no" type="xsd:string"></xsd:element>
			<xsd:element name="manufacturer_certificate_no" type="xsd:string"></xsd:element>
			<xsd:element name="embership_issued_dt" type="xsd:date"></xsd:element>
			<xsd:element name="membership_renewal_dt" type="xsd:date"></xsd:element>
			<xsd:element name="mbership_id" type="xsd:string"></xsd:element>
			<xsd:element name="membership_issued_certificate_dt" type="xsd:date"></xsd:element>
			<xsd:element name="membership_certificate_type" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_no" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_date" type="xsd:date"></xsd:element>
			<xsd:element name="receipt_no" type="xsd:string"></xsd:element>
			<xsd:element name="receipt_date" type="xsd:date"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AverageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="AverageRequestType">
        <xsd:sequence>
            <xsd:element name="pan_no" type="xsd:string"></xsd:element>
            <xsd:element name="bp_no" type="xsd:string"></xsd:element>
			<xsd:element name="rcmc_certificate_issue_date" type="xsd:date"></xsd:element>
			<xsd:element name="rcmc_certificate_expire_date" type="xsd:date"></xsd:element>
			<xsd:element name="merchant_certificate_no" type="xsd:string"></xsd:element>
			<xsd:element name="manufacturer_certificate_no" type="xsd:string"></xsd:element>
			<xsd:element name="embership_issued_dt" type="xsd:date"></xsd:element>
			<xsd:element name="membership_renewal_dt" type="xsd:date"></xsd:element>
			<xsd:element name="mbership_id" type="xsd:string"></xsd:element>
			<xsd:element name="membership_issued_certificate_dt" type="xsd:date"></xsd:element>
			<xsd:element name="membership_certificate_type" type="xsd:date"></xsd:element>
			<xsd:element name="invoice_no" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_date" type="xsd:date"></xsd:element>
			<xsd:element name="receipt_no" type="xsd:string"></xsd:element>
			<xsd:element name="receipt_date" type="xsd:date"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AverageRequest">
    <wsdl:part element="tns:Average" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AverageResponse">
    <wsdl:part element="tns:AverageResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Erptoweb">
    <wsdl:operation name="Average">
      <wsdl:input message="tns:AverageRequest"/>
      <wsdl:output message="tns:AverageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErptowebSOAP" type="tns:Erptoweb">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Average">
      <soap:operation soapAction="https://gjepc.org/admin/sapERP/server.php"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Erptoweb">
    <wsdl:port binding="tns:ErptowebSOAP" name="ErptowebSOAP">
      <soap:address location="https://gjepc.org/admin/sapERP/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>