admin/sapERP/SapToWebOutstanding.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://gjepc.org/admin/sapERP/defaulterOutstanding.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SapToWeb" targetNamespace="https://gjepc.org/admin/sapERP/defaulterOutstanding.php">
  <wsdl:types>
    <xsd:schema targetNamespace="https://gjepc.org/admin/sapERP/defaulterOutstanding.php">
      <xsd:element name="Average">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bp_no" type="xsd:string"></xsd:element>
			<xsd:element name="organisation_name" type="xsd:string"></xsd:element>
			<xsd:element name="outstanding_amount" type="xsd:string"></xsd:element>
			<xsd:element name="defaulter_status" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AverageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="AverageRequestType">
        <xsd:sequence>
            <xsd:element name="bp_no" type="xsd:string"></xsd:element>
			<xsd:element name="organisation_name" type="xsd:string"></xsd:element>
			<xsd:element name="outstanding_amount" type="xsd:string"></xsd:element>
			<xsd:element name="defaulter_status" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AverageRequest">
    <wsdl:part element="tns:Average" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AverageResponse">
    <wsdl:part element="tns:AverageResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SapToWeb">
    <wsdl:operation name="Average">
      <wsdl:input message="tns:AverageRequest"/>
      <wsdl:output message="tns:AverageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SapToWeb" type="tns:SapToWeb">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Average">
      <soap:operation soapAction="https://gjepc.org/admin/sapERP/defaulterOutstanding.php"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SapToWeb">
    <wsdl:port binding="tns:SapToWeb" name="SapToWeb">
      <soap:address location="https://gjepc.org/admin/sapERP/defaulterOutstanding.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>