kp/admin/sapERP/erptoweb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://gjepc.org/kp/admin/sapERP/server.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Erptoweb" targetNamespace="https://gjepc.org/kp/admin/sapERP/server.php">
  <wsdl:types>
    <xsd:schema targetNamespace="https://gjepc.org/kp/admin/sapERP/server.php">
      <xsd:element name="Average">
        <xsd:complexType>
          <xsd:sequence>
			<xsd:element name="invoice_number" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_date" type="xsd:date"></xsd:element>
			<xsd:element name="receipt_number" type="xsd:string"></xsd:element>
			<xsd:element name="receipt_date" type="xsd:date"></xsd:element>
			<xsd:element name="sales_order_number" type="xsd:string"></xsd:element>
			<xsd:element name="delivery_number" type="xsd:string"></xsd:element>
			<xsd:element name="order_reason" type="xsd:string"></xsd:element>
			<xsd:element name="odn" type="xsd:string"></xsd:element>
			<xsd:element name="exchnage_rate" type="xsd:string"></xsd:element>
			<xsd:element name="kp_fee" type="xsd:string"></xsd:element>
			<xsd:element name="courier_charges" type="xsd:string"></xsd:element>
			<xsd:element name="carat_price" type="xsd:string"></xsd:element>
			<xsd:element name="net_price" type="xsd:string"></xsd:element>
			<xsd:element name="cgst" type="xsd:string"></xsd:element>
			<xsd:element name="sgst" type="xsd:string"></xsd:element>
			<xsd:element name="igst" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_status" type="xsd:string"></xsd:element>	
			<xsd:element name="gstn" type="xsd:string"></xsd:element>
			<xsd:element name="advol_exchange_rate" type="xsd:string"></xsd:element>			
			<xsd:element name="advol_amount" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AverageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element> 

      <xsd:complexType name="AverageRequestType">
        <xsd:sequence>
            <xsd:element name="invoice_number" type="xsd:string"></xsd:element>
			<xsd:element name="invoice_date" type="xsd:date"></xsd:element>
			<xsd:element name="receipt_number" type="xsd:string"></xsd:element>
			<xsd:element name="receipt_date" type="xsd:date"></xsd:element>
			<xsd:element name="sales_order_number" type="xsd:string"></xsd:element>
			<xsd:element name="delivery_number" type="xsd:string"></xsd:element>
			<xsd:element name="order_reason" type="xsd:string"></xsd:element>
			<xsd:element name="odn" type="xsd:string"></xsd:element>
			<xsd:element name="exchnage_rate" type="xsd:string"></xsd:element>
			<xsd:element name="kp_fee" type="xsd:string"></xsd:element>
			<xsd:element name="courier_charges" type="xsd:string"></xsd:element>
			<xsd:element name="carat_price" type="xsd:string"></xsd:element>
			<xsd:element name="net_price" type="xsd:string"></xsd:element>
			<xsd:element name="cgst" type="xsd:string"></xsd:element>
			<xsd:element name="sgst" type="xsd:string"></xsd:element>	
			<xsd:element name="igst" type="xsd:string"></xsd:element>	
			<xsd:element name="invoice_status" type="xsd:string"></xsd:element>	
			<xsd:element name="gstn" type="xsd:string"></xsd:element>
			<xsd:element name="advol_exchange_rate" type="xsd:string"></xsd:element>			
			<xsd:element name="advol_amount" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AverageRequest">
    <wsdl:part element="tns:Average" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AverageResponse">
    <wsdl:part element="tns:AverageResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Erptoweb">
    <wsdl:operation name="Average">
      <wsdl:input message="tns:AverageRequest"/>
      <wsdl:output message="tns:AverageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KPINVOICE" type="tns:Erptoweb">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Average">
      <soap:operation soapAction="https://gjepc.org/kp/admin/sapERP/server.php"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Erptoweb">
    <wsdl:port binding="tns:KPINVOICE" name="KPINVOICE">
      <soap:address location="https://gjepc.org/kp/admin/sapERP/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>